{% extends 'layout.html' %}


{% block body %}
    <h3 align = "center">Hakkımızda</h3>
    <hr>
    <p align = "justify"> <b>Beethoven</b>, 1770 yılında Almanya’ da (Bonn) doğdu. Alkole karşı olan zaafıyla bilinen Beethoven’ in babası Johann da saray müzisyeniydi. İlk piyano derslerini henüz dört yaşındayken babasından aldı. Katı bir insan olan babası çocuğunu çok zorluyor, henüz dört-beş yaşında olan ve parmakları piyanoya yetişemeyen çocuk bazen bu çalışmalar sırasında gözyaşı döküyordu. Kimse bilmese bile küçük çocuğun geleceği belliydi.


        İlk müzik eğitimini babasından aldıktan sonra, 1779’da [kastooltip msg=”Christian Gottlob Neefe” tooltip=”Christian Gottlob Neefe (5 Şubat 1748 – 28 Ocak 1798) Alman bir opera bestecisi ve orkestra şefiydi.”]’ yle çalışmaya başladı. 1783’ te ilk bestesi olan Dressler’ in Marşı Üzerine Çeşitlemeler Neefe’ nin yardımıyla yayımlandı. 1786’ da Viyana’ ya yaptığı ziyaretin ardından, annesinin ölümü üzerine Bonn’ a geri döndü ve Kont Walstein’ ın hizmetine girdi. 4 yıl boyunca kontun orkestrasında viyola çaldı.
        
        Annesinin ölümünden sonra Beethoven Viyana’ ya geri döndü ve hayatının sonuna dek orada yaşadı. 1794′ e dek Viyana aristokrasisi içindeki müzik aşıklarına saraylarda ve özel toplantılarda çaldı. 1795 yılına kadar halka açılmamıştı. Başlangıçta bir besteci olarak değil, bir piyanist ve öğretmen olarak adını duyurdu ve kısa zamanda üne kavuştu.
        
        1798 yılında Beethoven işitme problemleri yaşamaya başladı. Bu tarihten itibaren 21 yıl boyunca hiç kimseyle iletişim kurmadı. Ancak 1819 yılına gelindiğinde yazarak insanlarla diyalog kurmaya başladı. 21 yıl boyunca çekilen yalnızlık çok derin acılar yaşamasına neden oldu. Beethoven bütün senfonilerini işitme problemi yaşamaya başladıktan sonra bestelemesi de dikkate değer bir olaydır.</p>
        <hr>
{% endblock  %}
    